  #box {
    width: 100%;
    height: 100%;
    color: #333;
    overflow: hidden;
  }

  .container {
    height: auto;
  }

  .wap_nav {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
  }

  .wap_nav_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 1rem;
    padding: 0 .5rem;
    background-color: rgba(231, 241, 241, 0.8);
  }

  .wap_nav_box .wap_logo {
    height: .6rem;
  }

  .wap_navTel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1rem;
    height: 1rem;
  }

  .wapImgTel {
    width: .44rem;
  }

  .pagination_box {
    position: fixed;
    top: 0;
    right: 0;
    width: .4rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .banner_box {
    width: 100%;
    height: 3.9rem;
    margin-top: 1rem;
  }

  .banner_box img {
    width: 100%;
    height: 100%;
  }

  .about_box {
    width: 100%;
    padding: .45rem;
    margin: 0 auto;
    text-align: center;
  }

  .title_sty {
    font-size: .26rem;
    margin-bottom: .15rem;
    font-weight: bold;
  }

  .text_lt {
    padding: 0 .3rem;
    margin-top: .3rem;
    font-size: .18rem;
    text-align: left;
    line-height: 1.6;
    opacity: .9;
  }

  .room_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin-top: .4rem;
  }

  .room_box img {
    width: 48%;
    height: 2.45rem;
  }

  .advantages_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .advantages_item {
    width: 25%;
    margin-bottom: .2rem;
  }

  .mg_tp40 {
    margin-top: .4rem;
  }

  .about_box span {
    display: inline-block;
    width: 1.04rem;
    height: 1rem;
  }

  .about_box span img {
    width: 100%;
    height: 100%;
  }

  .advantages_title {
    margin: .15rem 0 .15rem;
    font-size: .26rem;
  }

  .advantages_content {
    margin-bottom: .1rem;
  }

  .about_content1 {
    background-color: #e2e9d7;
    padding-bottom: .7rem;
  }

  .about_box1 {
    padding: .6rem 0 .75rem;
  }

  .about_box2 {
    padding-top: .6rem;
  }

  .about_box3 {
    padding-top: .5rem;
  }

  .about_box1 .title_sty:last-child {
    margin: 0;
  }

  .about_content .swiper-container {
    width: calc(100% - 1rem);
    height: 3.98rem;
    background-color: #e2e9d7;
    overflow: unset;
  }

  .swiper-container .swiper-slide {
    transition: all .3s linear;
    padding: 0 .1rem;
  }

  .swiper-container .swiper-slide div.student_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: .26rem;
    background-color: #fff;
  }

  .student_item img {
    flex-shrink: 0;
    width: 2.69rem;
    height: 100%;
    margin-right: .2rem;
  }

  .student_item p {
    display: flex;
    flex-direction: column;
  }

  .student_item p span {
    margin-bottom: .3rem;
    opacity: .9;
    text-align: center;
  }

  .ft_wt {
    font-weight: bold;
  }

  .student_item p span:first-child {
    margin-top: .2rem;
    margin-bottom: .25rem;
    font-size: .3rem;
    font-weight: bold;
  }

  .student_item p span:last-child {
    margin: 0;
    text-align: left;
    font-size: .18rem;
    line-height: 1.6;
  }

  .swiper-slide-active {
    transition: all .3s linear;
    transform: scaleY(1.1);
  }

  .swiper-pagination-bullets {
    margin-top: .32rem;
    text-align: center;
    padding-top: .3rem;
  }

  .swiper-pagination-bullet {
    background-color: #fff !important;
    opacity: 1 !important;
    width: .14rem !important;
    height: .14rem !important;
    margin-left: .1rem !important;
  }

  .swiper-pagination-bullet-active {
    background-color: #93ac68 !important;
    opacity: 1 !important;
    outline: none !important;
  }

  .about_content .swiper-container1 {
    width: calc(100% - 1.2rem);
    height: 3rem;
    margin-top: .3rem;
  }

  .swiper-container1 .swiper-slide {
    background-color: #ccc;
  }

  .class_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: .8rem;
  }

  .class_item {
    width: 50%;
  }

  .class_img {
    width: 2.85rem;
    height: 2.85rem;
    border-radius: 50%;
    overflow: hidden;
  }

  .class_img img {
    width: 100%;
    height: 100%;
  }

  .mb_80 {
    margin-bottom: .8rem;
  }

  .class_content p {
    text-align: left;
    font-size: .18rem;
    text-align: left;
    line-height: 1.6;
    opacity: .9;
  }

  .class_content .teacher_title {
    margin-bottom: .25rem;
    font-size: .3rem;
    font-weight: bold;
  }

  /* 课程介绍 */
  .tab_box {
    width: 100%;
    margin: 0 auto;
  }

  .tab_list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: .3rem;
  }

  .tab_item {
    padding: 0 .2rem;
    height: .7rem;
    line-height: .7rem;
    text-align: center;
    font-size: .24rem;
    color: #555;
    cursor: pointer;
    margin: 0 .2rem;
    border-radius: .07rem;
    border: 1px solid #ccc;
  }

  .tab_item1 {
    padding: 0 .2rem;
    height: .7rem;
    line-height: .7rem;
    text-align: center;
    font-size: .24rem;
    color: #555;
    cursor: pointer;
    margin: 0 .2rem;
    border-radius: .07rem;
    border: 1px solid #ccc;
  }

  .active_tab {
    background-color: #93ac68;
    color: #fff;
    border: none;
  }

  .box5_container {
    padding: 0 .42rem .5rem;
  }

  .box5_item {
    display: none;
  }

  .tab {
    width: 100%;
    text-align: center;
  }

  .tab table {
    width: 100%;
    border: 1px solid #93ac68;
    font-size: .18rem;
    opacity: .9;
  }

  .tab tr:nth-child(2n+1) {
    background-color: #e4e3bb;
  }

  .tab tr:nth-child(1) {
    height: .32rem;
    color: #fff;
    background-color: #93ac68;
  }

  .tab tr:nth-child(1) td {
    font-size: .18rem;
  }

  .tab tr td {
    width: 10%;
    height: .28rem;
    line-height: .28rem;
  }

  .tab tr td:first-child {
    width: 20%;
  }

  .tab1 tr td:nth-child(7) {
    width: 15%;
  }

  .tab1 tr td:nth-child(8) {
    width: 15%;
  }

  .tab2 tr td {
    width: 12%;
  }

  .tab2 tr td:nth-child(1) {
    width: 18%;
  }

  .tab2 tr td:nth-child(5) {
    width: 10%;
  }

  .school_box {
    width: 100%;
    padding: 0 .4rem .4rem;
    display: none;
  }

  .school_box img {
    width: 100%;
  }

  .active_item {
    display: block;
    opacity: 1;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: .6rem .5rem;
    background: #e2e9d7;
  }

  .footer_left {
    margin-right: .3rem;
  }

  .footer_left p {
    line-height: 1.6;
    font-size: .22rem;
    opacity: .9;
  }

  .footer_left .copy_sty {
    font-size: .20rem;
    margin-top: .4rem;
    color: #aaa;
  }

  .ft_20 {
    font-size: .22rem;
    opacity: .9;
    text-align: center;
    margin-top: .1rem;
  }

  .learn_box {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: .5rem .42rem 1rem;
  }

  .learn_item {
    width: 30%;
    height: 1.88rem;
    overflow: hidden;
    clip-path: polygon(0 25%,
        50% 0,
        100% 25%,
        100% 75%,
        50% 100%,
        0 75%);
    -webkit-clip-path: polygon(0 25%,
        50% 0,
        100% 25%,
        100% 75%,
        50% 100%,
        0 75%);
  }

  .learn_item1 {
    position: relative;
    top: -.3rem;
    left: .5rem;
  }

  .learn_item2 {
    position: relative;
    top: -.3rem;
    left: -.5rem;
  }

  .learn_item img {
    width: 100%;
    height: 100%;
    clip-path: polygon(0 25%,
        50% 0,
        100% 25%,
        100% 75%,
        50% 100%,
        0 75%);
    -webkit-clip-path: polygon(0 25%,
        50% 0,
        100% 25%,
        100% 75%,
        50% 100%,
        0 75%);
  }